@{
	Layout = null;
}
<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SignUp</title>
	<link href="~/css/loginsignup/stylesheet.css" rel="stylesheet" />
</head>

<head>
	<title style="color: brown">Login Page</title>
	<meta name="author" content="Zaur">
	<meta descryption content="Presentation of website">
	<meta name="keywords" content="technology, cyber security, software">
	<meta http-equiv="refresh" content="100">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div class="container forms" id="container">
		<div class="form sign-up">
			<form method="post" action="/User/SignUp/">
				<div class="header">Sign Up</div>

				<span class="under__social">
					<a href="#" class="link signin-link">
						or use your email for registration
					</a>
				</span>
				<div class="button-input-group">
					<div class="group input-group">
						<input type="text" name="Username" value="" placeholder="Username" required>
					</div>
					<div class="group input-group">
						<input type="email" name="Email" value="" placeholder="Mail" required>
					</div>
					<div class="group input-group">
						<input type="password" name="Password" value="" placeholder="Password" required>
					</div>
					<div class="alert-text signup__alert">
						<span class="help__text">At least 8 character</span>
					</div>
					<div class="group button-group">
						<button type="submit" class="signup-btn">
							<span>Sign Up</span>
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="form sign-in">
			<form method="post" action="/User/Login/">
				<div class="header">Sign In</div>

				<span class="under__social">
					<a href="#" class="link signup-link">or use your account</a>
				</span>
				<div class="button-input-group">
					<div class="group input-group">
						<input type="text" name="Username" value="" placeholder="Username" required>
					</div>
					<div class="group input-group">
						<input type="password" placeholder="Password" value="" required name="Password">
					</div>
					<div class="alert-text">
						<span class="help__text">At least 8 character</span>
					</div>
					<div class="form-link forgot">
						<a href="#" class="login-link">Forgot your password?</a>
					</div>
					<div class="group button-group">
						<button type="submit" class="signup-btn">
							<span>Sign in</span>
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</body>

<script src="~/js/usersignup.js"></script>


